
@font-face {

    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.woff2') format('woff2'),
        url('fonts/Poppins-Light.woff') format('woff'),
        url('fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;    
    font-style: normal;
    font-display: swap;
    }


@font-face {

    font-family: 'CenturyGothic-Bold';
    src: url('fonts/CenturyGothic-Bold.woff2') format('woff2'),
        url('fonts/CenturyGothic-Bold.woff') format('woff'),
        url('fonts/CenturyGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    }



/* ------ GENERAUX --------*/

body {
    
    font-family: "Poppins-Light","Modern Sans", "Verdana";
    margin:0 auto;
    }

p, q, a {
   
    font-size : 18px;
    font-family: "Poppins-Light";
    }


h1, h2, h3 {   
    
    font-size : 26px;
    font-family: "CenturyGothic-Bold";
    }


ul {

    margin:0;
    padding:0;
    list-style: none;
    overflow:hidden;
    }


a {
    display:block;
    //text-indent: -1000px;
    }




/* ------ HEADER --------*/

#Top {

    margin-top:-64px;
    width: 1112,89px;
    height: 100px;
    }


.Container {

    width: 1112,89px;
    height: 100px;
    background-image: linear-gradient(to right, #41ab6d, #097a5e);
    }


.oveha-logo {

    margin-left:10px ;
    float:left;
    height : 94,5px;
    display: inline-block, vertical-align: middle;
    }




/*------ MENU --------*/

.menu{

    width: 80%;
    margin-left:15%;
    margin-top:64px;
    }


.menu nav {

    display: inline-block; vertical-align: middle;
    margin-top:64px;
    }


nav ul {

    margin: 0;
    width:824px;
    height: 36px;
    }


nav li {
    display: inline-block;
    float: left;
    }


nav a {

    display: block;
    width:200px;
    height: 36px;
    background:transparent  ;
    color:white;
    font-size:12px;
    text-decoration:none;
    line-height:36px;
    text-align: center;
    -webkit-transition:1s all;
    -moz-transition:1s all;
    -o-transition:1s all;
    transition:1s all;
    }


nav a:hover {

    background:white;
    color:#097a5e;
    }




/* ------ CONTENU --------*/


#conteneur {
    
    width: 80%;
    margin:0 auto;
    padding: 0 10px;
    }


.Context {

    width: 80%;
    margin-left: 35px;
    margin-bottom: 5%;
    }


.AccueilId {

    font-size: 42px;
    }


.Main {

    position: relative;
    width: auto;
    padding: 50px;
    margin-top: 70px;
    margin-bottom: 100px;
    background-image: linear-gradient(to left, #41ab6d, #097a5e);
    }


.Prestations {

    position: relative;
    width: 70%;
    left: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: white;
    }


.Liens a, li {

    position: relative;
    left: 5px;
    text-decoration: none;
    list-style: none;
    color: white;
    -webkit-transition:0.3s all;
    -moz-transition:0.3s all;
    -o-transition:0.3s all;
    transition:0.3s all;
    }


.Liens a:hover {

    background:white;
    color:#097a5e;
    }


.MesReferences {

    width: 50%;
    margin-left: 5%;
    padding-top: 30px;
    padding-bottom: 25px;
}


.MesReferences li {

    color: black;
}


.vertical { 
    position: relative;
    left: 400px;
    bottom: 210px;
    border-left: 1.3px solid #41ab6d; 
    height: 175px; 
    display: inline-block;
} 


.Contact {

    position: relative;
    right: 220px;
    bottom: 237px;
    display: inline-block;
    float: right;
    width: 50%;
    margin-left: 7%;
    padding-top: 10px;
    padding-bottom: 25px;

}


.Contact a {

    text-decoration: none;
}


.Contact a:hover {

    background:white;
    color:#097a5e;
    }




/* ------ FOOTER --------*/


#PiedPage {

    margin-top: 0px;

}


.Legal {
    padding: 10px;
    background-image: linear-gradient(to right, #41ab6d, #097a5e);
    color: white; 
    }