

/* ------ typographies ----- */

    @font-face {
    
        font-family: 'Poppins-Light';
        src: url('../fonts/Poppins-Light.woff2') format('woff2'),
            url('../fonts/Poppins-Light.woff') format('woff'),
            url('../fonts/Poppins-Light.ttf') format('truetype');
        font-weight: 300;    
        font-style: normal;
        font-display: swap;
        }
    
    
    @font-face {
    
        font-family: 'CenturyGothic-Bold';
        src: url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
            url('../fonts/CenturyGothic-Bold.woff') format('woff'),
            url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
        }
        
/* ------ responsive ------- */

    @media screen and (max-width: 1000px){


        header#header {
            max-width: 1000px;
        }

        div.menu nav a {
            width: 100px;
            font-size: 12px;
        }
    }
    
    @media screen and (max-width: 940px){


        header#header {
            max-width: 940px;
        }

        div.oveha-slogan {
            margin-top: 25px;
        }
        div.oveha-slogan  img {
            width: 100px;
            height : 64px;
        }

        h1.h1 {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10%;
        }
    
        a.breadcrumb-link  {
        font-size: 12px;
        }
    
        ul.ancre a {
        font-size: 9px;
        }
    
        section.Contacts {
            display: static;
            width: 100%;
            margin-right: 0px;
            margin-left: 0px;
            padding: none;
            position: inherit;
            float: unset;
            padding-bottom: 170px;
        }
    
    
        div.meContacter {
            text-align: center;
            display: block;
            width: 100%;
            margin-bottom: 100px;
            margin-top: 50px;
            padding: 0;
            position: inherit;
        }
    
        li.Linkedin {
            width: 100%;
            margin: 0;
            padding: 0; }
    
        li.Telephone {
            width: 100%;
            margin: 0;
            padding: 0;}
    
        li.Mail {
            width: 100%;
            margin: 0;
            padding: 0;}
    
    
        div.Legal {
            font-size: 11px;
        }
    
        p.PlanduSite {
            margin-left: 10px;
            margin-right: 10px;
        }
    
         p.Accessibilité {
            margin-left: 10px;
            margin-right: 10px;
        }
    
         p.Crédits {
            margin-left: 10px;
            margin-right: 10px;
        }
    
        footer#footer {
            height:95px;
        }
    
        div.contenu {
            height:95px;
        }
    
        div.Legal {
            padding-top:25px;
            height:60px;
        }
    }
    
    @media screen and (max-width: 768px) {


        main#main {
            width: 90%;
        }

        section.Principal {
            width: 100%;
            margin-left: inherit;
        }
        h1.h1 {
            width: inherit;
            font-size: 32px;
            margin: inherit;
            padding: inherit;
        }

        section.fondamentaux {
            width: 90%;
            float: none;
            margin: inherit;
        }

        section.connaissance {
            text-align: right;
            width: 90%;
            float: none;
            margin: inherit;
        }

        section.braille {
            width: 90%;
            float: none;
            margin: inherit;
        }

        section.sport {
            text-align: right;
            width: 90%;
            float: none;
            margin: inherit;
        }

        section.garantie {
            width: 85%;
            font-size: 115%;
            margin: inherit;
        }

        div.meContacter {
            margin: inherit;
            padding: 5px;
        }


        div.oveha-slogan {
            margin-top: 25px;
        }

        div.oveha-slogan  img {
            width: 80px;
            height : 57px;
        }

        header#header {

            max-width: 768px;
            height: 100px;
        }

        nav {
        height: 60px;
        }
     
        div .menu nav .main_pages {
            z-index: 1000;
            position:absolute;
            display: none;
            flex-direction: column;
            background: white;
            box-shadow: 0px 0px 7px 0.5px #498a7a;
            height: 450px;
            width: 100%;
            margin-top: 40px;
            border-radius: 15px;
            padding-bottom: 40px;
        }
    
        div .menu nav .main_pages a {
            color: #41ab6d;
            width: 50%;
        }
    
        div .menu nav .main_pages a:hover {
            background: #41ab6d;
            color: white ;
        }
    
        .menu label 
        {
            width: 30px;
            display: flex;
            padding-top: 25px;
            padding-left: 60px;
            margin: 0 auto;
            font-size: 30px;
            color: white;
            cursor: pointer;
        }
    
        .menu #toggle:checked + .main_pages {
            display: flex;       
        }
    
        a.breadcrumb-link  {
        font-size: 12px;
        }
    
        ul.ancre a {
        font-size: 9px;
        }
    }

    @media screen and (max-width: 600px) {


        header#header {
            max-width: 600px;
        }

        a.breadcrumb-link {
            font-size: 10px;
        }

        div.oveha-slogan  img {
            display: none;
        }

        ul.ancre {
            display: none;
        }

    }

    @media screen and (max-width: 470px) {

        h1.h1 {
            font-size: 27px;
        }       

        section.Principal h2 {
            font-size: 20px;
        }

        section.Principal p {
            font-size: 13px;
            ;
        }
        
        section.fondamentaux {
            margin: inherit;
        }

        section.garantie p {
            font-size: 14px;
        }

        section.OETH p {
            font-size: 14px;
        }

        a.breadcrumb-link {
            font-size: 8px;
        }

        ol.breadcrumb {
            margin-left: 15px;
        }

        section#Contacts {
            position: relative;
            right: 6px;
        }

    }

    @media screen and (max-width: 409px) {

        div.Legal {
            font-size: 10px;
        }

        h1.h1 {
            font-size: 24px;
        }

        ul.ancre {
            display: none;
        }

        ol.breadcrumb{
            padding: inherit;
            margin-bottom: 20px;
            right: inherit;
            left: 15px;
        }
    }


/* ------ GENERAUX --------- */


    body {
        background-image: linear-gradient(to right, #41ab6d, #097a5e);
        font-family: "Poppins-Light","Modern Sans", "Verdana";
        margin:0;
        }
    
    p, q, a {
       
        font-family: "Poppins-Light";
        }
    
    
    h1, h2, h3 {   
        
        font-family: "CenturyGothic-Bold";
        }
    
    
    ul {
    
        margin:0;
        padding:0;
        list-style: none;
        overflow:hidden;
        }
    
    
    a {
        display:block;
        //text-indent: -1000px;
        }




/* ------ HEADER ----------- */


    a[href^="#main"] {  
        color: #45764B;
        background-color: #ECECEC;
        display: block;
        padding: 0.3%;
        text-align: center;
        font-size: .7em;
        list-style: none;
        text-decoration: none;
    }

    #header {
    
        width: 1112,89px;
        height: 113px;
        }
    
    
    .Container {
    
        text-align: right;
        height: 113px;
        background-image: linear-gradient(to right, #41ab6d, #097a5e);
        }
    
    
    .oveha-logo {
        position: relative;
        margin-left: 10px ;
        float:left;
        height : 94,5px;
        display: inline-block, vertical-align: middle;
        }

/* ------ MENU ------------- */


    /* .menu { 
    
        width: 100%;
        height: 100px;
        }
    
    
    .menu nav {
        position: relative;
        top: 64px;
        right: 50px;
        display: inline-block;
        }
    
    
    nav ul {
    
        float: middle;
        width: auto;
        height: 36px;
        }
    
    
    nav li {
    
        display: inline-block;
        float: left;
        }
    
    
    .menu nav a {
    
        font-size: 12px;
        border-radius: 3px;
        display: inline-block;
        width:180px;
        height: 36px;
        background:transparent  ;
        color:white;
        text-decoration:none;
        line-height:36px;
        text-align: center;
        -webkit-transition:1s all;
        -moz-transition:1s all;
        -o-transition:1s all;
        transition:0.7s all;
        }
    */
    
    
    nav .main_pages a:hover {
        color:#097a5e;
        background:white;
        }
    
    nav 
    {
        margin: 0 auto;
        marign
        width: 30%;
        height: 50px;
    }
     
    nav .main_pages 
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    nav .main_pages a 
    {
        margin-top: 43px;
        line-height:36px;
        border-radius: 5px;
        font-size: 14px;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        text-decoration: none;
        font-family: Poppins-Light, sans-serif;
        color: white;
        -webkit-transition:0.35s all;
        -moz-transition:0.35s all;
        -o-transition:0.35s all;
        transition:0.35s all;
    }
    
    label, #toggle {
        display: none;
    }

/* ------ FIL ARIANE ------- */

    .breadcrumb {
        position: relative;
        right: 200px;
        width: auto;
        display: inline-block;
        text-decoration: none;
        list-style: none;
        padding: 10px;
        }
    
    .breadcrumb-item {
        display: inline-block;
        }
    
    .breadcrumb-link  {
        font-size: 14px;
        display: inline-block;
        text-decoration: none;
        color: #e8e8e8;
        }
    
    .breadcrumb-item a:hover {
        text-decoration: underline
        }
    
    .breadcrumb-item-active {
        display: inline-block;
        text-decoration: none;
        color: white;
        }
    
    .breadcrumb-item:not(:last-of-type)::after {
        content: '>';
        margin: 0 5px;
        color: #e8e8e8;
        }
    
    .ancre  {
        width: 140px;
        bottom: 15px;
        float: right;
        padding-right: 35px;
        display: block;
        position: relative; 
        }
    
    .ancre a {
        float: right;
        font-size: 11px;
        display: block;
        text-decoration: none;
        color: #e8e8e8;
        }
    
    .ancre a:hover {
        transition:0.3s;
        opacity: 0.5;
        }



/* ------ MAIN ------------- */


    #main {
        color: white;
        position:flex;
        min-height:100%;
        width: 80%;
        margin:0 auto;
        padding: 0 10px;
        max-width:1280px;
        }
        
    
    .h1 {

        margin-bottom: 7%;
        width: 90%;
        font-size: 42px;
        }
    
    
    .Principal {
        width: 80%;
        margin-left: 35px;
        margin-bottom: 7%;
        margin-top: 10%;
        }

   .Principal a {
        font-size: 15px;
        text-decoration: none;
        color: #ffffff;
        }

    .Principal a:hover {
        text-decoration: underline;
        transition:0.3s;
        }

    .fondamentaux {
        display: inline-block;
        float: left;
        text-align: left;
        background: #1C8666;
        border-radius: 15px;
        padding: 20px;
        width: 85%;
        margin-bottom: 10%;
        margin-top: 10%;
        }
    

    .connaissance {
        display: inline-block;
        width: 80%;
        float: right;
        text-align: right;
        background: #1C8666;
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 10%;
        margin-top: 10%;
        }


    .braille {
        display: inline-block;
        width: 85%;
        float: left;
        text-align: left;
        background: #1C8666;
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 10%;
        margin-top: 10%;
        }


    .sport {
        display: inline-block;
        float: right;
        text-align: right;
        width: 85%;
        margin-bottom: 10%;
        margin-top: 10%;
        background: #1C8666;
        border-radius: 10px;
        padding: 20px;
        }


    .Temoignage {
        color: black;
        display: inline-block;
        width: 85%;
        float: left;
        text-align: left;
        background: #FFFFFF;
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 10%;
        margin-top: 10%;
        }

    
    .garantie {
        display: inline-block;
        text-align: center;
        font-size: 120%;
        width: 85%;
        padding: 20px;
        margin-left: 10%;
        margin-bottom: 13%;
        margin-top: 17%;
        }


    .OETH {
        margin-left: 2%;
        width: 87%;
        margin-bottom: 10%;
        margin-top: 20%;
        }

    .OETH a {

        text-decoration: none;
        color: #ffffff;
        }

    .OETH a:hover {
        transition:0.3s;
        opacity: 0.5;
    }

/* ------ Contacts --------- */


    .Contacts {
    
        position: flex;
        height: 255.16px;
        }
    
    
    .meContacter {
        margin-left: 2%;
        margin-bottom: 15%;
        padding: 20px;
        background: white;
        border-radius: 15px;
        height: 150px;
        color: #097a5e;
        width: 25%;
        }
    
    .meContacter a, li {
        color: #097a5e;
        text-decoration: none;
        }
    
    
    .meContacter a:hover {
    
        transition:0.3s;
        opacity: 0.5;
        }
    
    .Linkedin {
    
        width: 20%;
        }
    
    .Telephone {
    
        width: 40%;
        }
    
    .Mail {
    
        width: 45%;
        }




/* ------ FOOTER ----------- */


    #footer {
    
        width:100%;
        height:170px;
        }
    
    
    .contenu {
    
        text-align: center;
        padding: 10px;
        height:150px;
        background-image: linear-gradient(to right, #41ab6d, #097a5e);
        }
    
    
    .contenu a {
    
        color: white;
        text-decoration: none;
        }
    
    
    .contenu a:hover {
    
        transition:0.3s;
        opacity: 0.5;
        }
    

    .oveha-slogan {
        position: absolute;
        margin-top: 40px;
        margin-left: 10px;
        float: left;
        display: inline-block, vertical-align: middle;
        }

    .oveha-slogan  img {
        width: 123px;
        height : 80px;
    }


    .Legal {
        font-size: 16px;
        padding-top: 50px;
        }
    
    
    .PlanduSite {
    
        margin: 20px;
        display: inline-block;
        }
    
    
    .Accessibilité {
    
        margin: 20px;
        display: inline-block;
        }
    
    
    .Crédits {
    
        margin: 20px;
        display: inline-block;
        }